.message {
    display: flex;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
}

.msg-date {
    width:130px;
    font-size: 9px;
    padding-right: 3px;
}

.msg-name {
    font-weight: 700;
    padding-right: 3px;
    font-size: 12px;
    background-color:green;
    border-radius: 5px;
    padding-left: 5px;
}

.msg-message {
    margin-left: 3px;
    max-width: 215px;
    margin-top: 11px;    
}