.message {
    display: flex;
    padding-bottom: 2px;
}

.msg-date {
    min-width: 72px;
    font-size: 12px;
    line-height: 23px;
    padding-right: 8px;
}

.msg-name {
    font-weight: 700;
    padding-right: 8px;
}

.msg-message {
    
}