.logo-container {
    text-align:center;
}

.logo-container img {
    display:inline-block;
    margin:0 5px;
    height: 100px;
    width: auto;
}

.upload-image-container {
    display: flex;
    margin-left: 8vw;
}

.image-container {
    display: flex;
}

.image-container img {
    width: 20vw;
    height: 64vh;
    padding-left: 8px;
    padding-right: 8px;
}

.upload-btn-ctn {
    padding-top: 50px;
}

.upload-ctn {
    margin-left: 43vw;
}