.logo-container {
    text-align:center;
}

.logo-container img {
    display:inline-block;
    margin:0 5px;
    height: 100px;
    width: auto;
}

.upload-image-container {
    display: flex;
    justify-content: center;
}

.image-container {
    display: flex;
}

.image-container img {
    width: auto;
    height: 400px;
    padding-left: 8px;
    padding-right: 8px;
}

.upload-ctn {
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 47vw;
}

.text-instructions {
    text-align: center;
}